backend/n8n-backend.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## UGC",
        "height": 464,
        "width": 166,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        784
      ],
      "typeVersion": 1,
      "id": "0d4c1e91-403f-4b23-b7ca-652ffc3bd000",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Cosmos",
        "height": 464,
        "width": 166,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        784
      ],
      "typeVersion": 1,
      "id": "eb3acf36-ec70-435b-b49c-cd5813d6607c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Vox",
        "height": 464,
        "width": 166,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        784
      ],
      "typeVersion": 1,
      "id": "936cc4b0-cd18-4684-8bf6-91e5310e1d5d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Star",
        "height": 464,
        "width": 166,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        784
      ],
      "typeVersion": 1,
      "id": "b8a3c3fd-8651-4212-bdba-485bae549d00",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Star SE\n",
        "height": 464,
        "width": 166,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        784
      ],
      "typeVersion": 1,
      "id": "dd4b963b-9230-42a8-b97e-f8404d9d8679",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst moviesMap = {};\n\nallInputs.forEach(input => {\n  const cinemaName = input.json.cinema;\n  const films = input.json.films || [];\n\n  films.forEach(film => {\n    const title = film.titre;\n    \n    if (!moviesMap[title]) {\n      moviesMap[title] = {\n        titre: title,\n        duree: film.duree,\n        affiche: film.affiche,\n        seances: {} \n      };\n    }\n    \n    let key = \"UGC\";\n    if (cinemaName.includes(\"Vox\")) key = \"Vox\";\n    if (cinemaName.includes(\"Cosmos\")) key = \"Le Cosmos\";\n    if (cinemaName.includes(\"Star SE\")) key = \"Star St-Exupéry\";\n    else if (cinemaName.includes(\"Star\")) key = \"Star\";\n\n    moviesMap[title].seances[key] = film.horaires;\n  });\n});\n\nconst sortedMovies = Object.values(moviesMap).sort((a, b) => a.titre.localeCompare(b.titre));\n\nreturn [{ json: { liste_films: sortedMovies } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1088
      ],
      "id": "0b344a54-992c-4249-92da-5a01fb22ab69",
      "name": "Merge JSON by Movie"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0025/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    StarSEUrl: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        832
      ],
      "id": "358e93e0-ac11-492d-ab3a-00b77f7a907e",
      "name": "Star SE Link Builder"
    },
    {
      "parameters": {
        "url": "={{ $json.StarSEUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        960
      ],
      "id": "25247680-7233-40f4-82eb-cd607b2622ab",
      "name": "Star SE Request"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Star SE\";\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        allShowtimes.push({\n          time: heure,\n          rawTime: s.startsAt,\n          isVost: s.diffusionVersion === \"ORIGINAL\",\n          isPreview: !!s.isPreview\n        });\n      });\n    }\n  });\n\n  if (allShowtimes.length === 0) return null;\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie?.title?.toUpperCase().replace(/[\"«»]/g, '').trim() || \"FILM INCONNU\",\n    duree: item.movie?.runtime || 0,\n    affiche: item.movie?.poster?.url || \"\",\n    horaires: allShowtimes\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1088
      ],
      "id": "abd1df94-0c8c-4204-ba5c-24e55ca9b023",
      "name": "Simplify SE Request"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        816
      ],
      "id": "193124fe-eece-4c14-b979-2f10806a99a9",
      "name": "Merge (Append) JSONs"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        1088
      ],
      "id": "a71847b8-7094-48be-b8da-d5c56ecc178b",
      "name": "Respond to Webhook "
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -576,
        960
      ],
      "id": "e5f1b583-bc3b-49f8-85ac-76755a0ddcf7",
      "name": "Fetch Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "formatted-url",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -576,
        1088
      ],
      "id": "911f7b3b-071e-4f8a-8d0c-f1816e9c7402",
      "name": "Formating"
    },
    {
      "parameters": {
        "path": "api/theater",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        1088
      ],
      "id": "4705030c-275f-413b-9434-5d2bf2176f88",
      "name": "Webhook",
      "webhookId": "5945bbac-01e7-435d-bbe1-bf85611b8cc1"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0963/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    UGCUrl: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        832
      ],
      "id": "b34d1ea5-912b-4703-90f8-d6220ffacf24",
      "name": "UGC Link Builder"
    },
    {
      "parameters": {
        "url": "={{ $json.UGCUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        960
      ],
      "id": "00690fbf-8ed2-4c90-82f0-044325f876f9",
      "name": "UGC Request"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"UGC Ciné Cité\";\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        allShowtimes.push({\n          time: heure,\n          rawTime: s.startsAt,\n          isVost: s.diffusionVersion === \"ORIGINAL\",\n          isPreview: !!s.isPreview\n        });\n      });\n    }\n  });\n\n  if (allShowtimes.length === 0) return null;\n\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie?.title?.toUpperCase().replace(/[\"«»]/g, '').trim() || \"FILM INCONNU\",\n    duree: item.movie?.runtime || 0,\n    affiche: item.movie?.poster?.url || \"\",\n    horaires: allShowtimes\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        1088
      ],
      "id": "36c98e36-9ded-4523-8b52-93142679cd1a",
      "name": "Simplify UGC JSON"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Le Cosmos\";\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        allShowtimes.push({\n          time: heure,\n          rawTime: s.startsAt,\n          isVost: s.diffusionVersion === \"ORIGINAL\",\n          isPreview: !!s.isPreview\n        });\n      });\n    }\n  });\n\n  if (allShowtimes.length === 0) return null;\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie?.title?.toUpperCase().replace(/[\"«»]/g, '').trim() || \"FILM INCONNU\",\n    duree: item.movie?.runtime || 0,\n    affiche: item.movie?.poster?.url || \"\",\n    horaires: allShowtimes\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1088
      ],
      "id": "ba0456eb-a147-457e-bd6b-89462d607a97",
      "name": "Simplify Cosmos JSON"
    },
    {
      "parameters": {
        "url": "={{ $json.CosmosURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        960
      ],
      "id": "853732b5-78fc-41cd-b9a4-742754d9123d",
      "name": "Cosmos Request"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0026/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    CosmosURL: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        832
      ],
      "id": "730814aa-6719-431b-957e-9d2f90e01a70",
      "name": "Cosmos Link Builder"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0600/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    VoxURL: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        832
      ],
      "id": "1b447488-62f7-47fa-99a0-980a5e2f6fc5",
      "name": "Vox Link Builder"
    },
    {
      "parameters": {
        "url": "={{ $json.VoxURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        960
      ],
      "id": "d7bd08d2-b101-47b0-9956-19290bc9feed",
      "name": "Vox Request"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Vox\";\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        allShowtimes.push({\n          time: heure,\n          rawTime: s.startsAt,\n          isVost: s.diffusionVersion === \"ORIGINAL\",\n          isPreview: !!s.isPreview\n        });\n      });\n    }\n  });\n\n  if (allShowtimes.length === 0) return null;\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie?.title?.toUpperCase().replace(/[\"«»]/g, '').trim() || \"FILM INCONNU\",\n    duree: item.movie?.runtime || 0,\n    affiche: item.movie?.poster?.url || \"\",\n    horaires: allShowtimes\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1088
      ],
      "id": "8e505665-1d33-4d63-9279-9ac963d6469d",
      "name": "Simplify Vox JSON"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0027/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    StarUrl: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        832
      ],
      "id": "558d0f13-6cfd-4a98-9938-fe28ed06b8e8",
      "name": "Star Link Builder"
    },
    {
      "parameters": {
        "url": "={{ $json.StarUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        960
      ],
      "id": "9f455b98-d0b1-4131-915c-30f3d9428f7b",
      "name": "Star Request"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Star\";\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        allShowtimes.push({\n          time: heure,\n          rawTime: s.startsAt,\n          isVost: s.diffusionVersion === \"ORIGINAL\",\n          isPreview: !!s.isPreview\n        });\n      });\n    }\n  });\n\n  if (allShowtimes.length === 0) return null;\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie?.title?.toUpperCase().replace(/[\"«»]/g, '').trim() || \"FILM INCONNU\",\n    duree: item.movie?.runtime || 0,\n    affiche: item.movie?.poster?.url || \"\",\n    horaires: allShowtimes\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1088
      ],
      "id": "4864c025-2c35-4972-a82d-fdcc241bcbd4",
      "name": "Simplify Star JSON"
    },
    {
      "parameters": {
        "content": "Ces nodes ici (*une branche par cinéma*) crée l'URL pour l'API **Allociné** de chaque cinéma avec la date du jour, fetch les scéances et les formatte dans un joli **JSON simplifié**",
        "height": 80,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        1280
      ],
      "typeVersion": 1,
      "id": "36d707a1-d645-4a03-8862-46a5ceaa09b4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Sur ces deux nodes *time* on fetch et formatte la date du jour pour **YYY-MM-DD**",
        "height": 96,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        816
      ],
      "typeVersion": 1,
      "id": "467d3f36-6b45-4ab2-ac85-10f60d99e8cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "On merge tout les json en fonction des films",
        "height": 80,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        848
      ],
      "typeVersion": 1,
      "id": "9f88df13-5d87-40d9-8a5e-f2d1ca96bcae",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Et on renvoie l'output au Webhook",
        "height": 80,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        960
      ],
      "typeVersion": 1,
      "id": "94c737f6-5c83-4f18-bbbb-ea20e64c1464",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        960
      ],
      "id": "1909a9fe-6399-432e-a131-5f039cd41aae",
      "name": "Manual Trigger"
    }
  ],
  "connections": {
    "Merge JSON by Movie": {
      "main": [
        [
          {
            "node": "Respond to Webhook ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star SE Link Builder": {
      "main": [
        [
          {
            "node": "Star SE Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star SE Request": {
      "main": [
        [
          {
            "node": "Simplify SE Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify SE Request": {
      "main": [
        [
          {
            "node": "Merge (Append) JSONs",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge (Append) JSONs": {
      "main": [
        [
          {
            "node": "Merge JSON by Movie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Date & Time": {
      "main": [
        [
          {
            "node": "Formating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formating": {
      "main": [
        [
          {
            "node": "Star SE Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Star Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vox Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cosmos Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "UGC Link Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGC Link Builder": {
      "main": [
        [
          {
            "node": "UGC Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGC Request": {
      "main": [
        [
          {
            "node": "Simplify UGC JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify UGC JSON": {
      "main": [
        [
          {
            "node": "Merge (Append) JSONs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Cosmos JSON": {
      "main": [
        [
          {
            "node": "Merge (Append) JSONs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cosmos Request": {
      "main": [
        [
          {
            "node": "Simplify Cosmos JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cosmos Link Builder": {
      "main": [
        [
          {
            "node": "Cosmos Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vox Link Builder": {
      "main": [
        [
          {
            "node": "Vox Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vox Request": {
      "main": [
        [
          {
            "node": "Simplify Vox JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Vox JSON": {
      "main": [
        [
          {
            "node": "Merge (Append) JSONs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Star Link Builder": {
      "main": [
        [
          {
            "node": "Star Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star Request": {
      "main": [
        [
          {
            "node": "Simplify Star JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Star JSON": {
      "main": [
        [
          {
            "node": "Merge (Append) JSONs",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e90d789b48e5e14c97eedc713c1fb8d8fb2d7d72edbf19afa0f391e805bbe63"
  }
}